<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hello World</title>
</head>
<body>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <p th:text="${message}" />

    <form method="GET" action="#" th:action="@{/hello/redirectPage}">
        <table>
            <tr>
                <td><input type="submit" value="页面重定向" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
